<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Freepaper</title>
</head>
<body onload="createCode()">
    <a href="/"><h1>Free Paper</h1></a>
    <form action="/upload" method="post" enctype="multipart/form-data">
    email:<input type="email" name="email" id="email"><br><br>
    author: <input type="text" name="author" id="author"><br><br>
    title: <input type="text" name="title" id="title"><br><br>
    abstract: <input type="text" name="abstract" id="abstract"><br><br>
    subject:<input type="text" name="subject" id="subject"><br><br>

    <input type="text" id="Verificationcode" /> <input type="text" onclick="createCode()" readonly="readonly" id="checkCode" class="unchanged" style="width: 40px" /><br />


    <input type="file" accept="application/pdf" name="file" onchange="fileChange(this)"/>
    <input type="submit" value="上传文件" onclick="validate()"/>
    </form>
    <hr>
    <a href="/subject">subjects</a>
    <hr>
    <form action="/search" method="POST">
        <input type="text" name="content">
        <input type="submit" value="search">
    </form>
    <hr>
    <h2>Hot</h2>
    {%for article in articles%}<br>
    <!-- ID:{{article.id}}<br>
    Pid:{{article.pid}}<br>
    Email:{{article.email}}<br> -->
    Title:{{article.title}}<br>
    Abstract:{{article.abstract}}<br>
    Author:{{article.author}}<br>
    Date:{{article.date}}<br>
    Upvotes:{{article.upvotes}} <br>
    Downvotes:{{article.downvotes}} <br>
    Score:{{article.score}}<br>
    Visit:{{article.visit}}<br>
    <!-- Show:{{article.show}}<br> -->
    Download:<a href="/download/{{article.pid}}">{{article.title}}.pdf</a><br>
    <a href="/articles/{{article.id}}">details</a>
    <hr>
    {%endfor%}<br>
    

    <a href="/donate">A donation</a>
</body>
    <Script type="text/javascript">
    function fileChange(target) {
        var fileSize = 0;
        fileSize = target.files[0].size;
        var size = fileSize / 1024;
        if(size>20000){
        alert("附件不能大于20M");
        target.value="";
        return false; 
        }
    }

    var code; //在全局 定义验证码   
    function createCode() {
        code = "";
        var codeLength = 4;//验证码的长度   
        var checkCode = document.getElementById("checkCode");
        var selectChar = new Array( 2, 3, 4, 5, 6, 7, 8, 9,'A','B','C','D','E','F','G','H','J','K','L','M','N','P','Q','R','S','T','U','V','W','X','Y','Z');//所有候选组成验证码的字符，当然也可以用中文的   
    
        for (var i = 0; i < codeLength; i++) {
            var charIndex = Math.floor(Math.random() * 32);
            code += selectChar[charIndex];
        }
        //alert(code);
        if (checkCode) {
            checkCode.className = "code";
            checkCode.value = code;
        }
    }

    function validate() {
        
    var inputCode = document.getElementById("Verificationcode").value;
    var email = document.getElementById("email").value;
    var author = document.getElementById("author").value;
    var title = document.getElementById("title").value;
    var abstract = document.getElementById("abstract").value;
    var subject = document.getElementById("subject").value;

    if(email == ''|| author == ''||title==''||abstract==''||subject==''){
    alert("The information cannot be empty！");
    return false;
    }
    else if (inputCode.length <= 0) {
        alert("Please enter the verification code!");
        return false;
    }else if (inputCode != code) {
        alert("Verification code input error!");
        return false;
    createCode();//刷新验证码   
    } else {
    alert("OK");
    return true;
    }
    
    }
    </Script>
    